# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [7]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [10]:
#prices=[float(value[1:-1]) for value in chipo.item_price]
#chipo.item_price=prices

chipo[chipo['item_price']>10.00]

TypeError: '>' not supported between instances of 'str' and 'float'

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [15]:
chipo.loc[:,['item_name','item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [17]:
chipo.groupby('item_name').head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
3363,1349,1,Chicken Salad,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49
3471,1395,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.49
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69
3749,1499,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.89
3750,1500,1,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.99

### Step 7. What was the quantity of the most expensive item ordered?

In [22]:
chipo.groupby('quantity')['item_price'].max()

quantity
1      $9.39
2      $8.90
3      $7.17
4      $6.00
5      $7.50
7     $10.50
8     $13.52
10    $15.00
15    $44.25
Name: item_price, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [23]:
chipo.groupby('item_name')['quantity'].max()

item_name
6 Pack Soft Drink                         2
Barbacoa Bowl                             1
Barbacoa Burrito                          1
Barbacoa Crispy Tacos                     2
Barbacoa Salad Bowl                       1
Barbacoa Soft Tacos                       1
Bottled Water                            10
Bowl                                      3
Burrito                                   1
Canned Soda                               4
Canned Soft Drink                         4
Carnitas Bowl                             3
Carnitas Burrito                          2
Carnitas Crispy Tacos                     2
Carnitas Salad                            1
Carnitas Salad Bowl                       1
Carnitas Soft Tacos                       1
Chicken Bowl                              3
Chicken Burrito                           4
Chicken Crispy Tacos                      2
Chicken Salad                             1
Chicken Salad Bowl                        2
Chicken Soft Tacos                        2
Chips                                     3
Chips and Fresh Tomato Salsa             15
Chips and Guacamole                       4
Chips and Mild Fresh Tomato Salsa         1
Chips and Roasted Chili Corn Salsa        2
Chips and Roasted Chili-Corn Salsa        1
Chips and Tomatillo Green Chili Salsa     2
Chips and Tomatillo Red Chili Salsa       2
Chips and Tomatillo-Green Chili Salsa     2
Chips and Tomatillo-Red Chili Salsa       3
Crispy Tacos                              1
Izze                                      1
Nantucket Nectar                          2
Salad                                     1
Side of Chips                             8
Steak Bowl                                3
Steak Burrito                             3
Steak Crispy Tacos                        2
Steak Salad                               1
Steak Salad Bowl                          2
Steak Soft Tacos                          2
Veggie Bowl                               2
Veggie Burrito                            3
Veggie Crispy Tacos                       1
Veggie Salad                              1
Veggie Salad Bowl                         1
Veggie Soft Tacos                         2
Name: quantity, dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?